.DS_Store
__pycache__/
*.py[cod]

# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Multilingual Online Translator/*
!/Multilingual Online Translator/task/
/Multilingual Online Translator/task/*
!/Multilingual Online Translator/task/translator
